%background-init {
  background-image: url('../assets/tela-inicial.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

%background-sign {
  background-image: url('../assets/sign.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

