<body>

    <img *ngIf='conditionShip' class="target bounce" src="../../assets/fog-preto.png" alt="foguete" (click)="click()" focus>

  <mat-card class="card fadeInUpBig" *ngIf='conditionCard'>

    <div class="title">
      <span>Bem-vindo</span>
      <i class="fa-solid fa-rocket"></i>
    </div>

    <form >
      <div class="divForm">
        <i class="fa-solid fa-user iform"></i>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" placeholder="Insira se nome..." name='name' color="primary" [(ngModel)]="name">
        </mat-form-field>
      </div>
        <br>
      <div class="divForm">
        <i class="fa-solid fa-envelope iform"></i>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" placeholder="Insira seu e-mail..." name='email' color="primary" [(ngModel)]="email">
        </mat-form-field>
      </div>
        <br>
        <div class="divForm">
          <i class="fa-solid fa-lock iform"></i>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="Insira sua senha..." name='name' color="primary" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <i class="material-icons passIcon">{{hide ? 'visibility_off' : 'visibility'}}</i>
            </button>
          </mat-form-field>
        </div>
    </form>
    <div class="btn">
      <button mat-raised-button (click)="login()">
        Entrar
        <i class="fa-solid fa-right-to-bracket" style="margin-right: 5px;"></i>
      </button>
      <button mat-raised-button (click)="sign()">Cadastre-se</button>
    </div>
  </mat-card>


  <div class="footer">
    <i class="material-icons">whatshot</i>
    <span>
      ThurZão
    </span>
  </div>

</body>
